.DS_Store
**/.DS_Store

.env
**/.env

.venv/
ven/
venv/
**/.venv/
**/ven/
**/venv/

__pycache__/
**/__pycache__/
.pytest_cache/
**/.pytest_cache/
.mypy_cache/
**/.mypy_cache/
*.pyc
*.pyo
*.pyd

node_modules/
**/node_modules/
build/
**/build/
dist/
**/dist/
.vite/
**/.vite/
npm-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log
pnpm-debug.log*
